@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;500;600;700;800;900&display=swap');


@font-face {
   font-family: unity;
   src: url('../fonts/unify-sans-font/UnifySans-Regular.ttf');
}

@font-face {
   font-family: unityb;
   src: url('../fonts/unify-sans-font/UnifySans-Bold.ttf');
}
 

*{
  padding: 0;
  margin: 0;
  z-index: 1;
  color: #424242;
  line-height: 1.5;
}

html{
    scroll-behavior: smooth;
}

.social{
  position: fixed;
  bottom: 50%;
  left: 0;
  z-index: 5;
  border-radius: 5px;
  overflow: hidden;
}

.social *{
  color: #fff !important;
}

.social p{
  color: white !important;
  width: 45px;
  text-align: center;
  margin: 0;
}

nav{
  z-index: 5;
  background-color: #F5F5F5;
}

nav *{
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #404040 !important;
}

.title{
  color: #444444;
  font-weight: 700;
  font-size: 22px !important;
}

.im, .im * {
  color: #0098fe !important;
  /*font-weight: 900 !important;*/
<<<<<<< HEAD
  /*font-family: unityb, sans-serif !important;*/
=======
>>>>>>> 497e7b6385c475b9da8e1c0ed89e28e6770f2a44
}

.td, .td *{
  color: #404040 !important;
  /*font-weight: 900 !important;*/
<<<<<<< HEAD
  /*font-family: unityb, sans-serif !important;*/
=======
>>>>>>> 497e7b6385c475b9da8e1c0ed89e28e6770f2a44

}

.link, .link * { color: rgb(0, 82, 204) !important; }

.facebook { background-color: #4267B2 !important; }
.twitter { background-color: #55ACEE; }
.gmail { background-color: #7D7D7D; }
.whatsapp { background-color: #25D366; }
.wechat { background-color: #0077B5; }

.decoration {
  background-color: #E65005;
  color: white !important;
  font-size: 20px !important;
  border-radius: 50px;
}

.b5, .b5 *{ font-weight: 500 !important; }
.b6, .b6 *{ font-weight: 600 !important; }
.b7, .b7 *{ font-weight: 700 !important; }
.b8, .b8 *{ font-weight: 800 !important; }
.b9, .b9 *{
  /*font-weight: 900 !important;*/
<<<<<<< HEAD
  /*font-family: unityb, sans-serif !important;*/
=======
>>>>>>> 497e7b6385c475b9da8e1c0ed89e28e6770f2a44
}

.b4, .b4 *{ font-weight: 400 !important; }

.ln-2{line-height: 1.5;}
.ln-3{line-height: 2;}

.blue {
  background-color: #F5F5F5;
}

.blue *{
  border-color: #EBECF0;
}

.about:hover{
  opacity: 70%;
}

.post{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.land{
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


.land *{
  z-index: 3;
  color: white;
}

.land .msk{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 2;
}

.happy{
  position: relative;
  height: 400px;
  background-image: url('../img/happy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #00000010;
  border-radius: 2px;
}

.happy *{
  z-index: 3;
}

.mask{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff20;
}

.ness{
  border: 1px solid #00000010;
  height: 400px;
}

.tell{
  border: 1px solid #00000030;
  width: 100%;
  border-radius: 3px;
}

.tell *{
  color: white;
}

.cont{
  color: black;
}

.iconz {
  display: flex;
  justify-content: center;
  width: 25px; text-align: center;
}

.iconz .fab{
  color: red;
}

.smoky { background-color: #F5F5F5; }

footer{
  background-color: #0F4791;
}

footer *{
  color: white !important;
}

.line{
  border-left: 1px solid #00000030;
}

.copyright{
  background-color: #FBF5ED90;
}

.copyright *{
  color: #333333;
}

.profile{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.copied{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #454545;
  z-index: 5;
}

.copied *{
  color: white;
}

.bk{
  word-break: break-all;
}

.blog-search{
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 30;
}

nav, #nav{
  z-index: 20 !important;
}

.blog-search .col-5{
  z-index: 13;
}

.mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 12;
  background-color: rgb(0,0,0,.7);
}

.search{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  outline: none;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #00000040;
  font-size: 18px !important;
  color: #575757;
}

.suggested{
  background-color: white;
}

.suggested ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.suggested ul li{
  font-size: 17px;
  border-radius: 20px;
}

.suggested ul li:hover{
  background-color: #F7F3FB;
}

.blog-img{
  height: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 7px;
}

.blog-card{
  padding: 5px;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,.02);
  background-color: #fff !important;
}

.blog *{
  color: #555555 !important;
}

.blog a:hover{
  text-decoration: none !important;
}

.side{
  background-color: #F5F5F5;
  border-radius: 5px;
}


ul{
  padding-left: 20px;
}

.logo{
  font-size: 25px !important;
  font-weight: 900 !important;
<<<<<<< HEAD
  /*font-family: unityb !important;*/
=======
>>>>>>> 497e7b6385c475b9da8e1c0ed89e28e6770f2a44
}




@media (max-width: 650px){
.text-xl-8{
  font-size: 26px;
}

.text-xl-5{
  font-size: 24px;
}

*{
  font-size: 17px;
}

.social{
  left: 0;
  right: 0;
  display: flex;
  bottom: 0;
  border-radius: 0;
}

.social p, .social a{
  width: 20%;
  display: flex;
  justify-content: center;
}

}


.form-control{
  border-width: 1px;
}


