@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
                
*{
  padding: 0;
  margin: 0;
  color: #475366;
  font-size: 15.5px;
  z-index: 1;
  font-family: 'Work Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.social{
  position: fixed;
  top: 35%;
  left: 0;
  color: white;
  z-index: 5;
  border-radius: 5px;
  overflow: hidden;
}

.social *{
  color: white !important;
}

.social p{
  color: white !important;
  width: 50px;
  text-align: center;
}

nav{
  z-index: 5;
}

nav *{
  color: white;
  font-size: 14px;
}

.title{
  font-weight: 600;
}

.im, .im * {
  /*font-family: 'Crimson Text', serif !important;*/
  font-family: 'Uber Move Text', sans-serif !important;
}

.c{
  color: #000;
}


.b6, .b6 *{ font-weight: 600 !important; }
.b7, .b7 *{ font-weight: 700 !important; }
.b8, .b8 *{ font-weight: 800 !important; }
.b9, .b9 *{ font-weight: 900 !important; }
.b4, .b4 *{ font-weight: 400 !important; }

.ln-2{line-height: 1.5;}
.ln-3{line-height: 2;}

.blue {
  background-color: #EEF1F6;
}

.blue *{
  color: #232323;
  line-height: 1.5;
  border-color: #EEF1F6;
}

.about:hover{
  opacity: 70%;
}

.happy{
  position: relative;
  height: 400px;
  background-image: url('../img/happy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #00000010;
  border-radius: 2px;
}

.happy *{
  z-index: 3;
}

.mask{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff20;
}

.ness{
  border: 1px solid #00000010;
  height: 400px;
}

.tell{
  border: 1px solid #00000030;
  width: 100%;
  border-radius: 3px;
}

.tell *{
  color: white;
}

.cont{
  color: black;
}

.iconz {
  display: flex;
  justify-content: center;
  width: 25px; text-align: center;
}

.iconz .fab{
  color: red;
}

.smoky { background-color: #F0F4FC; }

footer{
  background-color: #F0F0F0;

}

footer *{
  color: #575757;
}

.line{
  border-left: 1px solid #00000030;
}

.copyright{
  background-color: #FBF5ED90;
}

.copyright *{
  color: #333333;
}

.profile{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.copied{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #454545;
  z-index: 5;
}

.copied *{
  color: white;
}

.bk{
  word-break: break-all;
}

.blog-search{
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 11;
}

.blog-search .col-5{
  z-index: 13;
}

.mask{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  z-index: 12;
}

.search{
  outline: none;
  border-radius: 10px;
  width: 100%;
  border: 1px solid #00000040;
  font-size: 18px;
  color: #575757;
}

.suggested{
  background-color: white;
}

.suggested ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.suggested ul li{
  font-size: 17px;
  border-radius: 20px;
}

.suggested ul li:hover{
  background-color: #F7F3FB;
}