@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');
                
*{
  padding: 0;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  color: #333333;
  font-size: 17px;
  z-index: 1;
}

html{
    scroll-behavior: smooth;
}

.social{
  position: fixed;
  top: 35%;
  left: 0;
  color: white;
  z-index: 5;
}

.social *{
  color: white !important;
}

.social p{
  color: white !important;
  width: 50px;
  text-align: center;
}

nav{
  background-color: #000;
  font-weight: 600;
  z-index: 5;
}

nav *{
  color: white;
}

.title{
  font-weight: 900;
}

.im, .im * {
  font-family: 'Crimson Text', serif !important;
}

.c{
  color: #000;
}


.b6, .b6 *{ font-weight: 600 !important; }
.b7, .b7 *{ font-weight: 700 !important; }
.b8, .b8 *{ font-weight: 800 !important; }
.b9, .b9 *{ font-weight: 900 !important; }
.b4, .b4 *{ font-weight: 400 !important; }

.ln-2{line-height: 1.5;}
.ln-3{line-height: 2;}

.blue {
  background-color: #D2E6E8;
}

.blue *{
  color: #000000;
  line-height: 1.5;
  border-color: #00000040;
}

.about{
  font-size: 18px;
}

.about:hover{
  opacity: 70%;
}

.happy{
  position: relative;
  height: 400px;
  background-image: url('../img/happy.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #00000010;
  border-radius: 2px;
}

.happy *{
  z-index: 3;
}

.mask{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff20;
}

.ness{
  border: 1px solid #00000010;
  height: 400px;
}

.tell{
  border: 1px solid #00000030;
  width: 100%;
  border-radius: 3px;
}

.tell *{
  color: white;
}

.cont{
  color: black;
}

.iconz { width: 25px; text-align: center; }

.smoky { background-color: #F3F3F3; }

footer{
  background-color: #FBF5ED;

}

footer *{
  color: #333333;
}

.line{
  border-left: 1px solid #00000030;
}

.copyright{
  background-color: #FBF5ED90;
}

.copyright *{
  color: #333333;
}

.profile{
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.copied{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #454545;
  z-index: 5;
}

.copied *{
  color: white;
}

.bk{
  word-break: break-all;
}